/********** Template CSS **********/

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

body {
    overflow-x: hidden;
}

/* video opening ala Netflix */
#videoOpening {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100svh;
    background: #000;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

        
#videoOpening.hide {
    opacity: 0;
    pointer-events: none;
}
        
#openingVideo {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

/* Landing Page Netflix Style */
#landingPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100svh;
    padding: 0;
    margin: 0;
    overflow: clip;
    background: #0b0b0b;
    z-index: 99998;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s linear;
}

#landingPage.show {
    display: flex;
    opacity: 1;
}

#landingPage.hide {
    opacity: 0;
    pointer-events: none;
}

/* logo NIKAHFIX */
.landing-title {
    fill: #E50914;
    border-radius: 12px;
    width: 100px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 1.5rem;
    transition: transform 0.3s ease, opacity 1.2s ease
}

/* who's watching? */
.landing-subtitle {
    color: #fff;
    font-size: 1.0rem;
    margin-bottom: 2rem;
    font-family: 'Inter', 'Montserrat', 'Roboto', sans-serif;
}

#landingLogo {
    fill: #E50914;
    border-radius: 12px;
    width: 100px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 1.5rem;
    transition: transform 0.3s ease, opacity 1.2s ease;
}

#landingLogo:hover {
    transform: scale(1.05);
}


/* Tombol OPEN INVITATION */
.open-invitation-btn {
    padding: 12px 43px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-family: 'Inter', 'Montserrat', 'Roboto', sans-serif;
}

.open-invitation-btn:hover {
    background: #fff;
    color: #000;
    transform: scale(1.05);
}

/* Floating Buttons di samping*/
.floating-buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    display: none;
    flex-direction: column;
    gap: 15px;
}

.floating-buttons.show {
    display: flex;
}

.float-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.float-btn:hover {
    transform: scale(1.1);
}

.float-btn.whatsapp {
    background: #25D366;
}

.float-btn.gift,
.float-btn.music {
    background: #E50914;
}

.float-btn i {
    color: #fff;
    font-size: 1.3rem;
}

#mainContent {
    opacity: 0;
    transition: opacity 1s ease;
}

#mainContent.show {
    opacity: 1;
}

@media (max-width: 768px) {
    .landing-title {
        font-size: 2.5rem;
    }

    .guest-avatar {
        width: 100px;
        height: 100px;
    }
}
          
/*** Fade in setelah opening***/
.fade {
    opacity: 0;
    transition: opacity 5.5s cubic-bezier(0.4, 0, 0.2, 1);

}

.fade.show {
    opacity: 1;
}

/** fade in up untuk content **/
.fade-up {
    opacity: 0;
    transform: translateY(70px);
    transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
                opacity 0.9s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}



/*** Navbar ***/
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-12px);

    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.navbar.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

.navbar .navbar-nav .nav-link {
    margin-right: 25px;
    padding: 40px 0;
    color: var(--bs-white);
    font-size: 17px;
    text-transform: uppercase;
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link,
    .navbar.bg-dark .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 8px;
        border-top: 1px solid var(--bs-light);
    }
}




/*** Header ***/

#header-carousel,
#header-carousel .carousel-inner,
#header-carousel .carousel-item {
    height: 100vh;
}

#header-carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Netflix-style fade carousel */
.carousel-item {
    opacity: 0;
    transition: opacity 1.6s linear;
}

.carousel-item.active {
    opacity: 1;
    z-index: 1;
}

/* Matikan slide bootstrap */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active.carousel-item-start,
.carousel-item.active.carousel-item-end {
    transform: none !important;
}


#header-carousel .carousel-item img {
    transform: scale(1.08);
    transition: transform 18s linear;
}

#header-carousel .carousel-item.active img {
    transform: scale(1.25);
}





.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 550px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 200px;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-1.jpg) top center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
    color: var(--bs-white);
}


/* SEMUA TEXT PENGATURANNYA BISA DISINI */

.pill-badge {
    background-color: #E50914;
    color: #ffffff;
    padding: 6px 12px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
    width: fit-content;
    max-width: 100%;
}

/*** Title ***/
.title {
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
    
}


/* judul untuk atasnya tiap bagian */
.title .title-top {
    
    font-size: 8px;
    font-weight: 250;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #aaaaaa;
    line-height: 1.2;
    margin-bottom: 5px;

}

/* bawahnya judul besar */
.title .title-bottom {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 0;
    margin-bottom: 5px;
    
}


.title .title-left,
.title .title-center,
.title .title-right {
    display: inline-block;
    overflow: visible;
}

.title .title-center {
    text-align: center;
}

.title .title-right {
    text-align: right;
}



/* Judul setiap bagian */
.title .title-left h1,
.title .title-center h1,
.title .title-right h1 {
    font-family: 'Lato', sans-serif;    
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1px;
    margin: 0;
    

}

/*Body text*/
.body-top {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.1px;

}

.body-bottom {
    color: #aaaaaa;
    font-size: 15px;
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.1px;
}



/*** Service ***/
.service-item {
    position: relative;
    margin-top: 2.5rem;
    overflow: hidden;
}

.service-item .service-img {
    position: relative;
    display: inline-block;
}

.service-item .service-img::before {
    position: absolute;
    content: "";
    width: calc(100% - 12rem);
    height: calc(100% - 12rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3rem solid rgba(0, 0, 0, .5);
    border-radius: 300px;
    z-index: 1;
}

.service-item.service-item-left {
    border-radius: 500px 0 0 500px;
    background: linear-gradient(to right, var(--bs-secondary), var(--bs-dark));
}

.service-item.service-item-right {
    border-radius: 0 500px 500px 0;
    background: linear-gradient(to left, var(--bs-secondary), var(--bs-dark));
}

@media (max-width: 767.98px) {
    .service-item.service-item-left,
    .service-item.service-item-right {
        border-radius: 500px 500px 0 0;
        background: linear-gradient(to bottom, var(--bs-secondary), var(--bs-dark));
        text-align: center;
    }
}


/*** Team ***/
.team-item {
    position: relative;
}

.team-item .team-name {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .7);
}

.team-item .team-body {
    position: relative;
    overflow: hidden;
}

.team-item .team-body .team-before,
.team-item .team-body .team-after {
    position: absolute;
    content: "";
    width: 0;
    height: calc(100% - 60px);
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
}

.team-item .team-body .team-after {
    left: auto;
    right: 0;
}

.team-item .team-body .team-before {
    text-align: right;
}

.team-item:hover .team-body .team-before,
.team-item:hover .team-body .team-after {
    width: 50%;
}

.team-item .team-body .team-before span,
.team-item .team-body .team-after span {
    margin: 5px;
    color: var(--bs-white);
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-body .team-before span,
.team-item:hover .team-body .team-after span {
    opacity: 1;
    transition-delay: .2s;
}


/*** Testimonial ***/
.testimonial-carousel {
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dots .owl-dot {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    padding: 10px;
    background: var(--bs-dark);
    border-radius: 100px;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot img {
    opacity: .1;
    transition: .5s;
    border-radius: 100px;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}


/*** Footer ***/
@keyframes footerAnimatedBg {
	0% {
        background-position: 0 0;
    }

	100% {
        background-position: -1000px 0;
    }
}

.footer {
	background-image: url(../img/footer.jpg);
	background-position: 0px 0px;
    background-repeat: repeat-x;
	animation: footerAnimatedBg 50s linear infinite;
}